.mypage-content
  %section.profile
    .form
      = form_with url: root_path, local: true do |f|
        .logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'profile__top__content__button' 