.side-bar
  %nav.side-bar__nav
    %ul.side-bar__nav__menue
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "/mypage"}
          マイページ
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "#"}
          いいね！一覧
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "#"}
          出品する
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "/mypage/sell"}
          出品した商品-出品中
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "/mypage/sell"}
          出品した商品-取引中
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "/mypage/sell"}
          出品した商品-売却済み
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "/mypage/purchace"}
          購入した商品-取引中
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "/mypage/purchace"}
          購入した商品-過去の取引
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "#"}
          お問い合わせ
          %i.fas.fa-chevron-right
  
    
    %h3.side-bar__nav__setting 設定
    %ul.side-bar__nav__menue
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "/mypage/profile"}
          プロフィール
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "/credit/show"}
          支払い方法
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "/mypage/mail"}
          メール/パスワード
          %i.fas.fa-chevron-right
      %li
        %a.side-bar__nav__menue__item.link-share{:href => "/mypage/logout"}
          ログアウト
          %i.fas.fa-chevron-right
