.mypage-content
  %section.purchace
    %h2.profile__top 支払い情報
    .credit
      %section
        .credit__content
          %h3.credit__content__top クレジットカード一覧
        %ul
      %setion.credit__addcard
        .credit__content
          = link_to new_credit_path,data: {"turbolinks" => false}, class:"profile__top__content__button link-share" do
            %i.fas.fa-credit-card
            クレジットカードを追加する