.container
  %body
  %header.container__header
  %main.container__main
    %section.container__main__book
      %h2.container__main__book__head
      購入内容の確認
      %section.container__main__book__item
        .container__main__book__item__inner
          .container__main__book__item__inner__box
            %h3.container__main__book__item__inner__box__image
            .container__main__book__item__inner__box__detail
              %p.container__main__book__item__inner__box__detail__name
              商品の説明
              %p.container__main__book__item__inner__box__detail__bold
                %span
                ¥100
                %span.container__main__book__item__inner__box__detail__bold__fee
                (税込）送料込み
      %section.container__main__book__item
        .container__main__book__item__inner
          .container__main__book__item__inner__form
            %ul.container__main__book__item__inner__form__table
              %li.container__main__book__item__inner__form__table__price
                .container__main__book__item__inner__form__table__price__label
                支払い金額
                .container__main__book__item__inner__form__table__price__cell
                %span{"data-buy-pay" => "100"} ¥100
            %ul.container__main__book__item__inner__form__point
              %li.container__main__book__item__inner__form__point__parent
                .container__main__book__item__inner__form__point__parent__box
                  %input{:disabled => "disabled", :type => "checkbox"}/
                  %i.container__main__book__item__inner__form__point__parent__box__icon
                  %label ポイントを使用 (所持ポイント: P0)
            .container__main__book__item__inner__form__info
              .container__main__book__item__inner__form__info__point
                %h3 支払い方法
                %a{:href => "#"}
                %p.container__main__book__item__inner__form__info__point__text
                  %i.container__main__book__item__inner__form__info__point__text__circle
                  %span.container__main__book__item__inner__form__info__point__text__circle__register
                  登録してください
            .container__main__book__item__inner__form__info
              .container__main__book__item__inner__form__info__dot
                %h3 配送先
                %a{:href => "#"}
                  .container__main__book__item__inner__form__info__dot__sentence
                  


            
            
                  


                  





            



                




          









            






          




                


            

          


      %section.container__main__book__item

  .container__footer
