
.new
  = form_with model:@product, local:true do |f|
    .new-top
      =link_to image_tag("logo.png", class: "new-top-img")
    .new-mains
      .new-mains-main
        %form.new-mains-main-form{action:'/', method:'get'}
          .new-mains-main-form-gm
            .new-mains-main-form-gm-sc
              .new-mains-main-form-gm-sc-name
                .new-mains-main-form-gm-sc-name-img
                  = f.label :image, "出品画像"
                  %span.new-mains-main-form-gm-sc-name-img-hi 必須
                %p.new-mains-main-form-gm-sc-name-sy 最大10枚までアップロードできます
                .new-mains-main-form-gm-sc-name-ca
                  .new-mains-main-form-gm-sc-name-ca-du
                    .new-mains-main-form-gm-sc-name-ca-du-gld
                      .new-mains-main-form-gm-sc-name-ca-du-gld-fer
                        %input{type:'file'}
                        .fas.fa-camera
                        %p ドラッグアンドドロップ
                        %br
                        %p またはクリックしてファイルをアップロード

          %hr.tw
          .two     
            .two-style
              .two-style-name
                .two-style-name-box
                %label 商品名
                %span.two-style-name-ss 必須
              .two-style-fail
                .two-style-fail-und
                  %input.two-style-fail-und-p{type:'text',name:'name',placeholder:'キーワードから探す',autocomplete:'off'}
            .two-for
              .two-for-body
                .two-for-body-form
                  %label 商品の説明
                  %spa.two-for-body-form-sp 必須
                %textarea.two-for-body-forms{placeholder:'商品の説明(必須 1,000文字以内)(色、素材、重さ、定価、注意点など)                                例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。合わせやすいのでおすすめです。'}
                .two-for-body-left
                  %span 0 
                  %text /
                  %text 1000
          %hr.two-sen

          .three
            %p.three-p 商品の詳細
            .three-sy
              .three-sy-body
                .three-sy-body-cate
                  %label カテゴリー
                  %span  必須
                .three-sy-body-co
                  .three-sy-body-co-cere
                    %select
                      %option{label: '選択してください'}
                      %option{label: 'レディース',valu:'1'}
                      %option{label: 'メンズ',valu:'2'}
                      %option{label: 'ベビー・キッズ',valu:'3'}
                      %option{label: 'インテリア・住まい・小物',valu:'4'}
                      %option{label: '本・音楽・ゲーム',valu:'5'}
                      %option{label: 'おもちゃ・ホビー・グッズ',valu:'6'}
                      %option{label: 'コスメ・香水・美容',valu:'7'}
                      %option{label: '家電・スマホ・カメラ',valu:'8'}
                      %option{label: 'スポーツ・レジャー',valu:'9'}
                      %option{label: 'ハンドメイド',valu:'10'}
                      %option{label: 'チケット',valu:'11'}
                      %option{label: '自動車・オートバイ',valu:'12'}
                      %option{label: 'その他',valu:'13'}
                    =image_tag 'caret-down-solid.svg'
            .three-box
              .three-box-body
                .three-box-body-br
                  %label ブランド
                  %span 任意
                .three-box-body-two
                  .three-box-body-two-style
                    %input{placeholder:'例）シャネル'}
            .three-jo
              .three-jo-bo
                .three-jo-bo-name
                  .three-jo-bo-name-sele
                    %select
                      %option{label: '選択してください'}
                      %option{label: '新品、未使用',valu:'1'}
                      %option{label: '未使用に近い',valu:'2'}
                      %option{label: '目立った傷や汚れなし',valu:'3'}
                      %option{label: 'やや傷や汚れあり',valu:'4'}
                      %option{label: '傷や汚れあり',valu:'5'}
                      %option{label: '全体的に状態が悪い',valu:'6'}
                    =image_tag 'caret-down-solid.svg'
          %hr.tree-a

          .for
            %p.for-cb 
              配送について
              =image_tag 'question-circle-regular.svg'
            .for-style
              .for-style-body
                .for-style-body-form
                  %label 配送料の負担
                  %span 必須
                .for-style-body-sele
                  .for-style-body-sele-tara
                    %select
                      %option{label: '選択してください'}
                      %option{label: '送料込み（出品者負担）',valu:'1'}
                      %option{label: '着払い（購入者負担）',valu:'2'}
                    =image_tag 'caret-down-solid.svg'
            .for-style
              .for-style-body
                .for-style-body-form
                  %label 発送元の地域
                  %span 必須
                .for-style-body-sele
                  .for-style-body-sele-tara
                    %select
                      %option{label: '選択してください'}
                      %option{label: '北海道',valu:'1'}
                      %option{label: '青森県',valu:'2'}
                      %option{label: '岩手県',valu:'46'}
                      %option{label: '宮城県',valu:'3'}
                      %option{label: '秋田県',valu:'4'}
                      %option{label: '山形県',valu:'5'}
                      %option{label: '福島県',valu:'6'}
                      %option{label: '茨城県',valu:'7'}
                      %option{label: '栃木県',valu:'8'}
                      %option{label: '群馬県',valu:''}
                      %option{label: '埼玉県',valu:'9'}
                      %option{label: '千葉県',valu:'10'}
                      %option{label: '東京都',valu:'11'}
                      %option{label: '神奈川県',valu:'12'}
                      %option{label: '新潟県',valu:'13'}
                      %option{label: '富山県',valu:'14'}
                      %option{label: '石川県',valu:'15'}
                      %option{label: '福井県',valu:'16'}
                      %option{label: '山梨県',valu:'17'}
                      %option{label: '長野県',valu:'18'}
                      %option{label: '岐阜県',valu:'19'}
                      %option{label: '静岡県',valu:'20'}
                      %option{label: '愛知県',valu:'21'}
                      %option{label: '三重県',valu:'22'}
                      %option{label: '滋賀県',valu:'23'}
                      %option{label: '京都府',valu:'24'}
                      %option{label: '大阪府',valu:'25'}
                      %option{label: '兵庫県',valu:'26'}
                      %option{label: '奈良県',valu:'27'}
                      %option{label: '和歌山県',valu:'28'}
                      %option{label: '鳥取県',valu:'29'}
                      %option{label: '島根県',valu:'30'}
                      %option{label: '岡山県',valu:'31'}
                      %option{label: '広島県',valu:'32'}
                      %option{label: '山口県',valu:'33'}
                      %option{label: '徳島県',valu:'34'}
                      %option{label: '香川県',valu:'35'}
                      %option{label: '愛媛県',valu:'36'}
                      %option{label: '高知県',valu:'37'}
                      %option{label: '福岡県',valu:'38'}
                      %option{label: '佐賀県',valu:'39'}
                      %option{label: '長崎県',valu:'40'}
                      %option{label: '熊本県',valu:'41'}
                      %option{label: '大分県',valu:'42'}
                      %option{label: '宮崎県',valu:'43'}
                      %option{label: '鹿児島県',valu:'44'}
                      %option{label: '沖縄県',valu:'45'}
                      %option{label: '未定',valu:'2'}                   
                    =image_tag 'caret-down-solid.svg'
            .for-style
              .for-style-body
                .for-style-body-form
                  %label 発送までの日数
                  %span 必須
                .for-style-body-sele
                  .for-style-body-sele-tara
                    %select
                      %option{label: '選択してください'}
                      %option{label: '1~2日で発送',valu:'1'}
                      %option{label: '3~4日で発送',valu:'2'}
                      %option{label: '4~7日で発送',valu:'3'}
                    =image_tag 'caret-down-solid.svg'
          %hr.tree-a

          .five
            %p.five-sc
              価格(¥
              300
              〜
              9,999,999)
              =image_tag 'question-circle-regular.svg'
            .five-nj
              .five-nj-jk
                .five-nj-jk-name
                  .five-nj-jk-name-sy 
                    %label 販売価格
                    %span.five-nj-jk-name-sy-hh 必須
                  %span.five-nj-jk-name-span ¥
                  .five-nj-jk-name-box
                    .five-nj-jk-name-box-x
                      %input{type:'number',placeholder:'0', onKeyUp: "keisan(this)"}
              .five-nj-ck
                .five-nj-ck-data
                  .five-nj-ck-data-div 販売手数料(10%)
                %span#charge 
                  ー
              %hr
              .five-nj-last
                .five-nj-last-rieki 販売利益
                %span#profit 
                  ー
              .five-nj-syu
                %button{type:'submit',} 出品する
                =link_to "/" do
                  もどる
              %p.five-nj-p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
    
    .new-mains-footer
      .new-mains-footer-ss
        %ul.new-mains-footer-ss-u
          %li.new-mains-footer-ss-u-i 
            =link_to "/" do
              プライバシーポリシー
          %li.new-mains-footer-ss-u-ii  
            =link_to "/" do
              FURIMA利用規約
          %li.new-mains-footer-ss-u-iii 
            =link_to "/" do
              特定商取引に関する表記



