= render "/shared/header"

%section.picup
  .picup-box
    .picup-box-Head
      =link_to "#",class:"picup-box-Head-a" do
        %h3.picup-box-Head-title 新規投稿商品
    .picup-box-lists
      - @items.each do |item|
        .picup-box-lists-list
          =link_to "#" do
            %figure.picup-box-lists-list--image
              =image_tag 'a007.png'
            .picup-box-lists-list--body
              %h3.picup-box-lists-list--body-name
                - if item.buyer_id
                  .sold__item SOLD
                - else 
                  = item.name
              .picup-box-lists-list--body-deta
                %ul
                  %li
                    - if item.buyer_id
                      .sold__item 購入不可
                    - else
                      = "#{item.price}円"
                  %li 
                    %i.fas.fa-star
                    0
                %p
                  (税込)