.resister{
  max-width: 320px;
  margin: 0 auto;
  padding: 64px;
  &__title{
    font-size: 16px;
    font-weight: bold;
  }
  &__form{
    position: relative;
    
    &__number{
      margin: 8px 0 0;
      font-size: 16px;
    }
    &__delete{
      position: absolute;
      top: 0;
      right: 0;
      padding: 4px 6px;
      background: #fff;
      border-radius: 3px;
      border: 1px solid #ea352d;
      color: #ea352d;
    }
  }
}