.form__new-user__title {
  font-size: 22px;
  text-align: center;
  margin:40px 0;
  font-weight: bolder;
}

.form__new-user__area {
  font-size: 14px;
  max-width: 350px;
  margin: 0 auto;
}

.field {
  margin-top: 30px;
  max-width: 350px;

  &-item {
    background-color: #3CCACE;
    color: white;
    border-radius: 2px;
    padding: 3px;
  }

  &-input {
    width: 314px;
    height: 30px;
    padding: 10px 16px 8px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 2px;

    &-name {
      margin-top: 5px;
      padding: 10px 16px 8px;
      width: 136px;
      height: 30px;
      font-size: 14px;
      border-radius: 2px;
    }
  }
}

.confirmation {
  margin: 0;
}

select {
  height: 52px;
  width: 113px;
  margin-top: 5px;
  font-size: 14px;
}

.attention {
  color: #888;

  &-next {
    margin-top: 60px;
    text-align: center;
  }
}

.user-submit {
  text-align: center;

  &__btn {
    background-color: #3CCACE;;
    color: white;
    width: 350px;
    height: 52px;
    margin: 30px 0px;
    border-radius: 2px;
    font-size: 14px;
  }
}